USE [DW_Sales_Music]
GO
/****** Object:  Table [dbo].[dim_album]    Script Date: 14/2/2022 23:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_album](
	[albumId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](160) NULL,
 CONSTRAINT [PK_Dim_Album] PRIMARY KEY CLUSTERED 
(
	[albumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_artist]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_artist](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
 CONSTRAINT [PK_dim_artist] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_customer]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NULL,
	[LastName] [varchar](20) NULL,
	[Company] [varchar](80) NULL,
	[Address] [varchar](70) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](40) NULL,
	[Country] [varchar](40) NULL,
	[PostalCode] [varchar](10) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[Email] [varchar](60) NULL,
 CONSTRAINT [PK_dim_customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_employee]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_employee](
	[employeeId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](20) NULL,
	[FirstName] [varchar](20) NULL,
	[Title] [varchar](30) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [varchar](70) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](40) NULL,
	[Country] [varchar](40) NULL,
	[PostalCode] [varchar](10) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[Email] [varchar](60) NULL,
 CONSTRAINT [PK_Dim_Employee] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_genre]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
 CONSTRAINT [PK_dim_genres] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_invoice_item]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_invoice_item](
	[InvoiceLineId] [int] IDENTITY(1,1) NOT NULL,
	[UnitPrice] [numeric](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_dim_invoice_items] PRIMARY KEY CLUSTERED 
(
	[InvoiceLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_location]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_location](
	[locationId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[BillingAddress] [varchar](70) NULL,
	[BillingCity] [varchar](40) NULL,
	[BillingState] [varchar](40) NULL,
	[BillingCountry] [varchar](40) NULL,
	[BillingPostalCode] [varchar](10) NULL,
	[Total] [numeric](10, 2) NULL,
 CONSTRAINT [PK_dim_location] PRIMARY KEY CLUSTERED 
(
	[locationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_playlist]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_playlist](
	[PlaylistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dim_playlist] PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_time]    Script Date: 14/2/2022 23:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_time](
	[timeId] [int] IDENTITY(1,1) NOT NULL,
	[day] [int] NOT NULL,
	[day_of_the_week] [nvarchar](20) NULL,
	[month] [int] NULL,
	[quarter] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_dim_time] PRIMARY KEY CLUSTERED 
(
	[timeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_album] ON 

INSERT [dbo].[dim_album] ([albumId], [Title]) VALUES (1, N'For Those About To Rock We Salute You')
INSERT [dbo].[dim_album] ([albumId], [Title]) VALUES (2, N'Balls to the Wall')
INSERT [dbo].[dim_album] ([albumId], [Title]) VALUES (3, N'Restless and Wild')
GO
SET IDENTITY_INSERT [dbo].[dim_album] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_artist] ON 

INSERT [dbo].[dim_artist] ([ArtistId], [Name]) VALUES (1, N'AC/DC')
INSERT [dbo].[dim_artist] ([ArtistId], [Name]) VALUES (2, N'Accept')
INSERT [dbo].[dim_artist] ([ArtistId], [Name]) VALUES (3, N'Aerosmith')
GO
SET IDENTITY_INSERT [dbo].[dim_artist] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_customer] ON 

INSERT [dbo].[dim_customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (1, N'Luís', N'Gonçalves', N'Embraer - Empresa Brasileira de Aeronáutica S.A.', N'Av. Brigadeiro Faria Lima, 2170', N'São José dos Campos', N'SP', N'Brazil', N'12227-000', N'+55 (12) 3923-5555', N'+55 (12) 3923-5566', N'luisg@embraer.com.br')
INSERT [dbo].[dim_customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (2, N'Leonie', N'Köhler', N'N/A', N'Theodor-Heuss-Straße 34', N'Stuttgart', N'N/A', N'Germany', N'70174', N'+49 0711 2842222', N'N/A', N'leonekohler@surfeu.de')
INSERT [dbo].[dim_customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (3, N'François', N'Tremblay', N'N/A', N'1498 rue Bélanger', N'Montréal', N'QC', N'Canada', N'H2G 1A7', N'+1 (514) 721-4711', N'N/A', N'ftremblay@gmail.com')
SET IDENTITY_INSERT [dbo].[dim_customer] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_employee] ON 

INSERT [dbo].[dim_employee] ([employeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (1, N'Adams', N'Andrew', N'General Manager', CAST(N'1962-02-18T00:00:00.000' AS DateTime), CAST(N'2002-08-14T00:00:00.000' AS DateTime), N'11120 Jasper Ave NW', N'Edmonton', N'AB', N'Canada', N'T5K 2N1', N'+1 (780) 428-9482', N'+1 (780) 428-3457', N'andrew@chinookcorp.com')
INSERT [dbo].[dim_employee] ([employeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (2, N'Edwards', N'Nancy', N'Sales Manager', CAST(N'1958-12-08T00:00:00.000' AS DateTime), CAST(N'2002-05-01T00:00:00.000' AS DateTime), N'825 8 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 2T3', N'+1 (403) 262-3443', N'+1 (403) 262-3322', N'nancy@chinookcorp.com')
INSERT [dbo].[dim_employee] ([employeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (3, N'Peacock', N'Jane', N'Sales Support Agent', CAST(N'1973-08-29T00:00:00.000' AS DateTime), CAST(N'2002-04-01T00:00:00.000' AS DateTime), N'1111 6 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 5M5', N'+1 (403) 262-3443', N'+1 (403) 262-6712', N'jane@chinookcorp.com')
SET IDENTITY_INSERT [dbo].[dim_employee] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_genre] ON 

INSERT [dbo].[dim_genre] ([GenreId], [Name]) VALUES (1, N'Rock')
INSERT [dbo].[dim_genre] ([GenreId], [Name]) VALUES (2, N'Jazz')
INSERT [dbo].[dim_genre] ([GenreId], [Name]) VALUES (3, N'Metal')
SET IDENTITY_INSERT [dbo].[dim_genre] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_invoice_item] ON 

INSERT [dbo].[dim_invoice_item] ([InvoiceLineId], [UnitPrice], [Quantity]) VALUES (1, CAST(1 AS Numeric(18, 0)), 1)
INSERT [dbo].[dim_invoice_item] ([InvoiceLineId], [UnitPrice], [Quantity]) VALUES (2, CAST(1 AS Numeric(18, 0)), 1)
INSERT [dbo].[dim_invoice_item] ([InvoiceLineId], [UnitPrice], [Quantity]) VALUES (3, CAST(1 AS Numeric(18, 0)), 1)
GO
SET IDENTITY_INSERT [dbo].[dim_invoice_item] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_location] ON 

INSERT [dbo].[dim_location] ([locationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (1, CAST(N'2009-01-01T00:00:00.000' AS DateTime), N'Theodor-Heuss-Straße 34', N'Stuttgart', NULL, N'Germany', N'70174', CAST(1.98 AS Numeric(10, 2)))
INSERT [dbo].[dim_location] ([locationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (2, CAST(N'2009-01-02T00:00:00.000' AS DateTime), N'Ullevålsveien 14', N'Oslo', NULL, N'Norway', N'0171', CAST(3.96 AS Numeric(10, 2)))
INSERT [dbo].[dim_location] ([locationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (3, CAST(N'2009-01-03T00:00:00.000' AS DateTime), N'Grétrystraat 63', N'Brussels', NULL, N'Belgium', N'1000', CAST(5.94 AS Numeric(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[dim_location] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_playlist] ON 

INSERT [dbo].[dim_playlist] ([PlaylistId], [Name]) VALUES (1, N'Music')
INSERT [dbo].[dim_playlist] ([PlaylistId], [Name]) VALUES (2, N'Movies')
INSERT [dbo].[dim_playlist] ([PlaylistId], [Name]) VALUES (3, N'TV Shows')
SET IDENTITY_INSERT [dbo].[dim_playlist] OFF
GO
